{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
{{invoice.number}}
<a href="{{path('invoices')}}">Back</a>
<section class="formSection">

    <div class="form">
        <h1 class="formTitle"></h1>
        <div class="line">
            {{ form_start(form) }}
            {{ form_row(form.product) }}
            {{ form_row(form.color) }}
            {{ form_row(form.size) }}
            {{ form_row(form.quantity, {'attr':{'placeholder':'Quantité'}}) }}
            {{ form_row(form.priceHT, {'attr':{'placeholder':'Prix HTVA'}}) }}
        </div>
        <br>
        <div class="btn">
            <button type="submit">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
<section class="products">
    {% for product in products %}
    <a href="{{path('invoiceProduct', {id:product.id})}}">{{product.quantity}} - {{product.product.name}} - {{product.color}} - {{product.size}} - {{product.priceHT}}€</a>
    <br>
    {% endfor %}
    Total : {{invoice.priceHT}}
</section>
{% endblock %}
