{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
Create new Invoice
<section class="formSection">
    <div class="form">
        <h1 class="formTitle"></h1>
        <div class="line">
            {{ form_start(form) }}
            {{ form_row(form.number, {'attr':{'placeholder':'Numéro'}}) }}
            {{ form_row(form.supplier, {'attr':{'placeholder':'Fournisseur'}}) }}
            {{ form_row(form.billingAddress, {'attr':{'placeholder':'Adresse de facturation'}}) }}
            {{ form_row(form.deliveryAddress, {'attr':{'placeholder':'Adresse de livraison'}}) }}
        </div>
        <br>
        <div class="btn">
            <button type="submit">Ajouter</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
