{% extends 'base.html.twig' %}

{% block body %}
<a href="{{path('invoices')}}">My invoices</a>
<a href="{{path('stock')}}">My stocks</a>
<a href="{{path('suppliers')}}">My suppliers</a>
<a href="{{path('products')}}">My products</a>
<a href="{{path('categories')}}">My categories</a>
{% endblock %}
